{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>我的音乐</title>



    {% block title %}{% endblock title %}
    <div id="footer_bottom" class="footer">
        <div class="copyright">
            <p>网站信息来源于网络</p>
        </div>
    </div>
    

</body>
</html>